<div>
  <h1>My first view</h1>


    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>


      <% _.each(foos, function (user) { %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><a href="/foo/show/<%= user.id %>">Show</a></td>
        <td><a href="/foo/edit/<%= user.id %>">Edit</a></td>
         <td><a href="/foo/destroy/<%= user.id %>">Delete</a></td>
      <% }) %>
      </tr>
    </table>
  <a href="/foo/new">New User</a>
</div>